<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<!--    header-->
<div class="container-fluid p-3 mb-2 bg-dark text-white">
    <div class="d-flex bd-highlight ">
        <div class="p-2 flex-grow-1 bd-highlight" th:text="${userByPrincipalName.getEmail()} + ' with roles: ' + ${userByPrincipalName.toStringRoles().replaceAll('ROLE_','')}">
            Одна из 2x колонок
        </div>
        <div class="p-2 bd-highlight">
            <a class="text-secondary" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>

<!--    main-->
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="#">User</a>
            </nav>
        </div>

        <div class="col-10 bg-light">
            <h2> User information-page </h2> <br />
            <br/>

            <h6> &nbsp;&nbsp;&nbsp;&nbsp;About user </h6>

            <table class="table table-striped bg-white">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
<!--                    <td th:text="${userByPrincipalName.getId()}" />-->
<!--                    <td th:text="${userByPrincipalName.getUsername()}" />-->
<!--                    <td th:text="${userByPrincipalName.getLastname()}" />-->
<!--                    <td th:text="${userByPrincipalName.getAge()}" />-->
<!--                    <td th:text="${userByPrincipalName.getEmail()}" />-->
<!--                    <td th:text="${userByPrincipalName.toStringRoles().replaceAll('ROLE_','')}"/>-->
                    <td id="id" />
                    <td id="userName" />
                    <td id="lastName" />
                    <td id="age" />
                    <td id="email" />
                    <td id="roles" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="data-placeholder"></div>






<script src="/script.js" th:src="@{/script.js}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>